<footer>
    <div class="side-space">
        <div class="d-flex desk-row">
            <div class="footer-left">
                <img src="./assets/imgs/footer-logo.png" alt="">
                <h4>
                    InvestSphere Company Limited,
                </h4>
                <p>
                    House No. 25, Green Meadows ColonySector 10, Rajendra NagarJaipur, Rajasthan,Pin Code: 302017
                </p>
                <p>
                    Email: customersupport&#64;icicilombard.com
                </p>
                <p>
                    Fax no - 022 61961323
                </p>
                <div class="social-media">
                    <div class="d-flex row">
                        <a href="#">
                            <img src="../../../assets/imgs/fb.png" alt="facebook">
                        </a>
                        <a href="#">
                            <img src="../../../assets/imgs/in.png" alt="linkedIn">
                        </a>
                        <!-- <a href="#">
                            <img src="./imgs/twitter.png" alt="twitter">
                        </a> -->
                        <a href="#">
                            <img src="../../../assets/imgs/yt.png" alt="You Tube">
                        </a>
                        <a href="#">
                            <img src="../../../assets/imgs/insta.png" alt="Instagram">
                        </a>
                    </div>
                </div>
            </div>

            <div class="footer-right">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
                <p>
                    QuickLinks
                </p>
                <a href="/">Home>></a> <a href="#">Car Insurance</a> | <a href="#">TwoWheeler Insurance</a> | <a
                    href="#">Health Insurance</a> | <a href="#">Travel Insurance</a> | <a href="#">Other
                    Insurance</a> | <a href="#">Claims</a>

                <div class="companies">

                </div>
            </div>
        </div>
    </div>
</footer>