@import '../../../styles.scss';

footer {
    background: $dark-blue;
    padding: 30px 0;
    color: $white;

    .d-flex {
        justify-content: space-between;
        align-items: flex-start;
    }

    p {
        font-size: 12px;
        color: $white;
    }
    a {
        font-size: 12px;
        color: $white;
    }

    .footer-left {
        width: 30%;

        h4 {
            font-size: 15px;
            font-weight: 400;
            color: $white;
        }

        .social-media {
            .d-flex {
                justify-content: flex-start;
                gap: 20px;
            }
        }
    }

    .footer-right {
        width: 65%;
    }
    
    
}
