<section class="section-3">
    <div class="side-space">
        <div class="d-flex desk-row">
            <div class="insurance-text">
                <h1 class="h1">Why Choose Health Insurance</h1>
                <p>Health insurance is a vital tool to protect your health and financial well-being. It ensures you receive timely medical care without worrying about high treatment costs. From covering hospitalization expenses to preventive health check-ups, a good health insurance policy acts as a safety net for you and your loved ones during medical emergencies.</p>
                <h2 class="h2">
                    Key Reasons to Choose Health Insurance
                </h2>
                <div class="blue-list">
                    <p>
                        <span>01</span><strong> Financial Protection: </strong>Safeguards against rising medical costs.
                    </p>
                    <p>
                        <span>02</span><strong> Access to Quality Care: </strong>Ensures treatment in top hospitals.
                    </p>
                    <p>
                        <span>03</span><strong> Cashless Facility: </strong>Hassle-free treatment at network hospitals.
                    </p>
                    <p>
                        <span>04</span><strong> Tax Benefits:  </strong>Save on taxes under Section 80D.
                    </p>
                    <p>
                        <span>05</span><strong> Peace of Mind:  </strong>Focus on recovery, not expenses.
                    </p>
                </div>
            </div>

            <div class="insurance-img">
                <img src="../../../assets/imgs/insurance.png" alt="">
            </div>
        </div>
    </div>
</section>