@import '../../../styles.scss';

.section-6{
    padding: 40px 0;

    .policy{
        width: 60%;
        h2{
            margin-bottom: 0;
        }

        ul{
            margin-top: 25px;
            padding-left: 25px;
            list-style: url('../../../assets/imgs/Checkbox.png');
        }
    }

    .policy-img{
        width: 38%;

        img{
            width: 100%;
        }
    }
}