<section class="section-6">
    <div class="side-space">
        <div class="d-flex desk-row">
            <div class="policy">
                <h1 class="h1">What is covered by InvestSphere Health insurance policy?</h1>
                <p>While the specifics may differ across plans, our plans cover:</p>

                <ul>
                    <li>
                        <p>Hospitalisation expenses</p>
                    </li>
                    <li>
                        <p>Pre-and-post hospitalisation costs</p>
                    </li>
                    <li>
                        <p>Day care and home care treatments</p>
                    </li>
                    <li>
                        <p>Donor expenses</p>
                    </li>
                    <li>
                        <p>Costs for emergency ambulance</p>
                    </li>
                </ul>
            </div>

            <div class="policy-img">
                <img src="../../../assets/imgs/policy.png" alt="">
            </div>
        </div>
    </div>
</section>