<section class="section-11">
    <div class="side-space">
        <h1 class="h1 text-center">
            Health Insurance Blogs
        </h1>
        <div class="d-flex desk-row">
            <img src="../../../assets/imgs/blog.png" alt="">

            <div class="blog-right">
                <h2 class="h2">Best Ways To Keep Your Kids Healthy In Winter</h2>
                <p>
                    To keep your child healthy during the winter, emphasize good nutrition, encourage regular physical
                    activities, and instill hygiene habits while dressing them appropriately.</p>
                <p>
                    The winters are when precautions need to be taken about acclimatising to the sudden drop in
                    temperatures, limited outdoor activities, and exposure to common viruses. All these may decrease
                    children's immunity, leading to infections like the common cold and flu.</p>
                <p>
                    As a parent, knowing how to keep your child healthy during the winter is vital. Also, remember that
                    besides preventive measures, investing in a comprehensive health insurance policy is necessary to
                    remain prepared against medical emergencies Read More>>.

                </p>
            </div>
        </div>


        <div class="blog-wrap">
            <div class="blog">
                <img src="../../../assets/imgs/blog1.png" alt="">
                <p>Newly Married? Make These Key Changes in Your Health Insurance Policy</p>
                <p><a href="" class="button">View Article>></a></p>
            </div>
            <div class="blog">
                <img src="../../../assets/imgs/blog2.png" alt="">
                <p>10 Practical Ways to Help Ease Seasonal Affective Disorder</p>
                <p><a href="" class="button">View Article>></a></p>
            </div>
            <div class="blog">
                <img src="../../../assets/imgs/blog3.png" alt="">
                <p>Benefits of Personal Accident Insurance</p>
                <p><a href="" class="button">View Article>></a></p>
            </div>
        </div>
    </div>
</section>