<header class="header">
    <div class="side-space main-header">

        <div class="top-header">
            <div class="top-links">
                <div class="group-1">
                    <a class="right-border" href="tel: 1800 2666"><img src="../../../assets/imgs/call.png" alt="">1800
                        2666</a>
                    <a class="right-border" href="#"><img src="../../../assets/imgs/tel.png" alt="">Call Back</a>
                    <a class="live-chat"><img src="../../../assets/imgs/Oval.png" alt="">Live Chat</a>
                </div>
            </div>
        </div>
        <div class="logo">
            <img src="./assets/imgs/logo-new.png" alt="ICICI Lombard">

            <button (click)="toggleMenu()" class="menu-toggle">
                <span *ngIf="!menuOpen">☰</span>
                <span *ngIf="menuOpen">×</span>
            </button>
        </div>
        
        
        <nav class="nav">
            <ul class="nav-links" *ngIf="menuOpen">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Car Insurance</a>
                    <ul class="dropdown-menu">
                        <li><a href="">Car Insurance 1</a></li>
                        <li><a href="">Car Insurance 2</a></li>
                        <li><a href="">Car Insurance 3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Two Wheeler Insurance</a>
                    <ul class="dropdown-menu">
                        <li><a href="">Two Wheeler Insurance 1</a></li>
                        <li><a href="">Two Wheeler Insurance 2</a></li>
                        <li><a href="">Two Wheeler Insurance 3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Health Insurance</a>
                    <ul class="dropdown-menu">
                        <li><a href="">Health Insurance 1</a></li>
                        <li><a href="">Health Insurance 2</a></li>
                        <li><a href="">Health Insurance 3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle">Travel Insurance</a>
                    <ul class="dropdown-menu">
                        <li><a href="">Travel Insurance 1</a></li>
                        <li><a href="">Travel Insurance 2</a></li>
                        <li><a href="">Travel Insurance 3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle">Other Insurance</a>
                    <ul class="dropdown-menu">
                        <li><a href="">Other Insurance 1</a></li>
                        <li><a href="">Other Insurance 2</a></li>
                        <li><a href="">Other Insurance 3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Claims</a>
                    <ul class="dropdown-menu">
                        <li><a href="">Claims 1</a></li>
                        <li><a href="">Claims 2</a></li>
                        <li><a href="">Claims 3</a></li>
                    </ul>
                </li>

                <li class="login">
                    <a href="#" class="button">Login</a>
                </li>

            </ul>
            
        </nav>

        <nav class="nav desktop">
            <ul class="nav-links">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Car Insurance</a>
                    <ul class="dropdown-menu">
                        <li><a href="">Car Insurance 1</a></li>
                        <li><a href="">Car Insurance 2</a></li>
                        <li><a href="">Car Insurance 3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Two Wheeler Insurance</a>
                    <ul class="dropdown-menu">
                        <li><a href="">Two Wheeler Insurance 1</a></li>
                        <li><a href="">Two Wheeler Insurance 2</a></li>
                        <li><a href="">Two Wheeler Insurance 3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Health Insurance</a>
                    <ul class="dropdown-menu">
                        <li><a href="">Health Insurance 1</a></li>
                        <li><a href="">Health Insurance 2</a></li>
                        <li><a href="">Health Insurance 3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle">Travel Insurance</a>
                    <ul class="dropdown-menu">
                        <li><a href="">Travel Insurance 1</a></li>
                        <li><a href="">Travel Insurance 2</a></li>
                        <li><a href="">Travel Insurance 3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle">Other Insurance</a>
                    <ul class="dropdown-menu">
                        <li><a href="">Other Insurance 1</a></li>
                        <li><a href="">Other Insurance 2</a></li>
                        <li><a href="">Other Insurance 3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Claims</a>
                    <ul class="dropdown-menu">
                        <li><a href="">Claims 1</a></li>
                        <li><a href="">Claims 2</a></li>
                        <li><a href="">Claims 3</a></li>
                    </ul>
                </li>

                <li class="login">
                    <a href="#" class="button">Login</a>
                </li>

            </ul>
            
        </nav>
    </div>
</header>