<section class="section-4">
    <div class="side-space">
        <div class="d-flex desk-row">

            <div class="benefit-text">
                <h1 class="h1">
                    Benefits of Buying <br />
                    Health Insurance
                </h1>
                <p>Buying health insurance offers numerous benefits, ensuring financial security and access to quality
                    healthcare.</p>
            </div>
            <div class="benefit-slider">
                <div class="card-slider">
                    <div class="card">
                        <div class="d-flex row">
                            <img src="../../../assets/imgs/card1.png" alt="">
                            <span>
                                01
                            </span>
                        </div>
                        <h5> Financial Protection Against Medical Expenses</h5>
                        <ul>
                            <li>
                                <p>
                                    Covers high costs of hospitalization, surgeries, and treatments, reducing the
                                    financial burden.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Protects savings from being drained by unexpected medical emergencies.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="card">
                        <div class="d-flex row">
                            <img src="../../../assets/imgs/card2.png" alt="">
                            <span>
                                02
                            </span>
                        </div>
                        <h5>Access to Quality Healthcare</h5>
                        <ul>
                            <li>
                                <p>
                                    Ensures access to a wide network of hospitals, specialists, and healthcare
                                    providers.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Provides cashless treatment options at network hospitals (insurance directly pays
                                    the hospital).
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="card">
                        <div class="d-flex row">
                            <img src="../../../assets/imgs/card3.png" alt="">
                            <span>
                                03
                            </span>
                        </div>
                        <h5>Coverage for Preventive Care</h5>
                        <ul>
                            <li>
                                <p>
                                    Encourages preventive care, including annual checkups, vaccinations, and screenings.

                                </p>
                            </li>
                            <li>
                                <p>
                                    Detects health issues early, reducing treatment costs in the long term.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>