$dark-blue: #0A2046;
$white: #fff;
$black: #000;
$blue: #0FBDC7;
$light-gray: #EBE9EC;

.section-4{

    background: url('../../../assets/imgs/benefit-bg.png');
    background-size: cover;
    padding: 40px 0;
    
    .d-flex{

    }

    .benefit-text{
        width: 30%;
    }

}