<section class="section-7">
    <div class="side-space">
        <h1 class="h1 text-center">Which health insurance plan is ideal for you?</h1>
        <p class="text-center">Here’s a short guide that will help you choose the right health insurance plan:</p>

        <div class="plans">
            <div class="plan dark">
                <img src="../../../assets/imgs/mdi_wallet-outline.png" alt="">
                <p>Individual health insurance plan if you want coverage for yourself</p>
            </div>
            <div class="plan">
                <img src="../../../assets/imgs/healthicons_heart-cardiogram-outline.png" alt="">
                <p>Critical illness insurance plan if you seek to cover yourself against critical ailments like cancer, kidney failure</p>
            </div>
            <div class="plan dark">
                <img src="../../../assets/imgs/icon-park-outline_family.png" alt="">
                <p>Family floater health insurance plan if you want coverage for the entire family</p>
            </div>
            <div class="plan">
                <img src="../../../assets/imgs/solar_circle-top-up-broken.png" alt="">
                <p>Top-up health insurance plan if you want to enhance your existing health coverage at a cost-effective price point</p>
            </div>
        </div>
    </div>
</section>