<section class="section-2">
    <div class="side-space">
        <h1 class="h1">Why Millions of People Trust Us</h1>

        <div class="trust-grid">
            <div class="trust-card d-flex row">
                <div class="img-bg">
                    <img src="../../../assets/imgs/trust1.png" alt="">
                </div>
                <div>
                    <p><strong>Comprehensive Coverage Options</strong></p>
                    <p>Wide range of plans for individuals, families, senior citizens, and specific health concerns like
                        critical illnesses or maternity.</p>
                </div>
            </div>
            <div class="trust-card d-flex row">
                <div class="img-bg">
                    <img src="../../../assets/imgs/trust2.png" alt="">
                </div>
                <div>
                    <p><strong>Affordable Premiums</strong></p>
                    <p>Competitive pricing ensures quality coverage at a cost that fits your budget.</p>
                </div>
            </div>
            <div class="trust-card d-flex row">
                <div class="img-bg">
                    <img src="../../../assets/imgs/trust3.png" alt="">
                </div>
                <div>
                    <p><strong>Cashless Treatment Network</strong></p>
                    <p>Access to 10,000+ network hospitals across India for seamless cashless treatments.</p>
                </div>
            </div>
            <div class="trust-card d-flex row">
                <div class="img-bg">
                    <img src="../../../assets/imgs/trust4.png" alt="">
                </div>
                <div>
                    <p><strong>Quick and Hassle-Free Claims Process</strong></p>
                    <p>High claim settlement ratio and simplified claim processes for your peace of mind.</p>
                </div>
            </div>
            <div class="trust-card d-flex row">
                <div class="img-bg">
                    <img src="../../../assets/imgs/trust5.png" alt="">
                </div>
                <div>
                    <p><strong>Preventive Healthcare Benefits</strong></p>
                    <p>Free annual health check-ups, discounted diagnostics, and pharmacy benefits.</p>
                </div>
            </div>
            <div class="trust-card d-flex row">
                <div class="img-bg">
                    <img src="../../../assets/imgs/trust6.png" alt="">
                </div>
                <div>
                    <p><strong>24/7 Customer Support</strong></p>
                    <p>Round-the-clock assistance for emergencies, policy queries, or claims.</p>
                </div>
            </div>
        </div>
    </div>
</section>