<section class="section-9">
    <div class="side-space">
        <div class="d-flex desk-row">
            <div class="review-head">
                <h1 class="h1">
                    "Hear what our customers have to say."
                </h1>
                <img src="../../../assets/imgs/testimonial.png" alt="">
            </div>
            <div class="reviews">
                <div class="d-flex row">
                    <img src="../../../assets/imgs/customer1.png" alt="">
                    <div class="review-text">
                        <h2 class="h2">– John D., Satisfied Customer</h2>
                        <p>XYZ Health Insurance provided my family with the best care when we needed it the most. The
                            cashless hospital experience was smooth, and the claim process was hassle-free. Highly
                            recommend!</p>
                    </div>
                </div>
                <div class="d-flex row">
                    <img src="../../../assets/imgs/customer2.png" alt="">
                    <div class="review-text">
                        <h2 class="h2">– Emily R., Long-Time Policyholder</h2>
                        <p>When I was hospitalized for surgery, I was worried about managing the bills. Thankfully, XYZ
                            Health Insurance covered everything under their cashless hospitalization network.The
                            customer support team guided me throughout the process, and I didn’t have to pay a single
                            penny upfront.</p>
                    </div>
                </div>
                <div class="d-flex row">
                    <img src="../../../assets/imgs/customer3.png" alt="">
                    <div class="review-text">
                        <h2 class="h2">– The Smith Family</h2>
                        <p>"We chose XYZ Health Insurance for our family, and it was the best decision we’ve made. From
                            preventive care to emergencies, they’ve been there for us. The plans are affordable and
                            cover everything we need. Truly a lifesaver!"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>