<section class="section-5">
    <div class="side-space">
        <div class="d-flex desk-row">
            <div class="claim-img">
                <img src="../../../assets/imgs/claim.png" alt="">
            </div>
            <div class="claim">
                <h2 class="h2">Easy health insurance claims</h2>
                <p>We settle your health insurance claims in a jiffy. All you need to do is:</p>
                <div class="claim-list">
                    <p><span><img src="../../../assets/imgs/claim1.png" alt=""></span>Cashless Claims at Network Hospitals</p>
                    <p><span><img src="../../../assets/imgs/claim2.png" alt=""></span>Simple Reimbursement Process</p>
                    <p><span><img src="../../../assets/imgs/claim3.png" alt=""></span>Digital Claim Submission</p>
                    <p><span><img src="../../../assets/imgs/claim4.png" alt=""></span>Pre-Authorization for Planned Treatments</p>
                    <p><span><img src="../../../assets/imgs/claim5.png" alt=""></span>Dedicated Claim Advisors</p>
                </div>
            </div>
        </div>
    </div>
</section>