<section class="hero">
    <div class="side-space d-flex desk-row">
        <div class="banner-text">
            <h1 class="h1">Health Insurance</h1>
            <h2 class="h2">Zero hassle health policies starting &#64;₹18/dayA</h2>
            <ul>
                <li>
                    <p> No medical checkup requiredB </p>
                </li>
                <li>
                    <p>Instant policyP</p>
                </li>
                <li>
                    <p>100% claim with add-onG</p>
                </li>
                <li>
                    <p>10,800+ Healthcare providersC</p>
                </li>
                <li>
                    <p>60 minsD TAT for cashless hospitalisation</p>
                </li>
            </ul>
        </div>

        <div class="banner-img">
            <img src="../../../assets/imgs/banner-img.png" alt="">
        </div>
    </div>
</section>