<section class="section-8">
    <div class="side-space">
        <h1 class="h1">
            Why buy health insurance plan at <br class="desktop"/>an early age?
        </h1>

        <div class="bx-shadow">
            <div class="d-flex row">
                <span>></span>
                <h2 class="h2">Lower premiums:</h2>
            </div>
            <p>Health insurance premiums are generally lower when you are young and healthy. This helps you save money.</p>
        </div>

        <div class="bx-shadow">
            <div class="d-flex row">
                <span>></span>
                <h2 class="h2">Easy management of waiting periods:</h2>
            </div>
            <p>Buying early helps you complete waiting periods for specific illnesses before you might need them.</p>
        </div>

        <div class="bx-shadow">
            <div class="d-flex row">
                <span>></span>
                <h2 class="h2">Comprehensive coverage:</h2>
            </div>
            <p>When you are younger and without pre-existing health conditions, you can secure comprehensive coverage with fewer exclusions.</p>
        </div>
    </div>
</section>